.services-banner {
    padding: 7%;
    background: url(../images/23509.jpg) center center no-repeat;
    color: #fff;
}

.services-content {
    /* margin-top:30px;
    background: url(../images/sbg.jpg);
    background-size: cover; */
    padding:5%;
    background: #f3f7f8;
    
}
/* .home-services-content h1 {
    margin-bottom: 80px;
    color: #fff;
} */