@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
.manual-home-content {
    height: 100%;
}
.about-content {
    margin-top:30px;
    padding: 5%;
}
.custom-about-para {
    margin-top:50px;
}
.custom-btn {
    margin-top:30px;
}
.creative-box {
    /* background: #e1e1e1;
    padding: 5%; */
    box-shadow: 0 0 8px 0 rgba(0,0,0,.05);
    margin: auto;
    margin-top: 16px;
    padding: 30px 30px 20px;
    background: #fff;
    border-radius: 3px;
}
.creative-box h3 {
    font-size: 1.20rem;
}
.home-services-content {
    margin-top:30px;
    background: url(../images/sbg.jpg);
    background-size: cover;
    padding:5%;
    /* background: #f3f7f8; */
    
}
.home-services-content h1 {
    margin-bottom: 80px;
    color: #fff;
}
.custom-first-row {
    margin-bottom: 80px;
}
.creative-box .fa-music {
    border-radius: 50%;
    border: solid thin #0099e5;
    color: #fff;
    background: #0099e5;
    padding: 18px 20px;
    position: relative;
    top: -65px;
}
.creative-box .fa-magic {
    border-radius: 50%;
    border: solid thin #0099e5;
    color: #fff;
    background: #0099e5;
    padding: 18px 20px;
    position: relative;
    top: -65px;
}
.creative-box .fa-book {
    border-radius: 50%;
    border: solid thin #0099e5;
    color: #fff;
    background: #0099e5;
    padding: 18px 20px;
    position: relative;
    top: -65px;
}
.creative-box .fa-file-text-o {
    border-radius: 50%;
    border: solid thin #0099e5;
    color: #fff;
    background: #0099e5;
    padding: 18px 20px;
    position: relative;
    top: -65px;
}
.creative-box .fa-line-chart {
    border-radius: 50%;
    border: solid thin #0099e5;
    color: #fff;
    background: #0099e5;
    padding: 18px 15px;
    position: relative;
    top: -65px;
}
.creative-box .fa-tasks {
    border-radius: 50%;
    border: solid thin #0099e5;
    color: #fff;
    background: #0099e5;
    padding: 18px 20px;
    position: relative;
    top: -65px;
}
/**************************SLIDER CSS**************************************/

.custom-contact-form-component {

    border-top-style: none!important;
    border-left-style:none!important;
    border-right-style:none!important;
    box-shadow: none;
    border-radius: none;

}
.custom-contact-form-component:focus {
    box-shadow: none;
}
.custom-right-content {
    background: #3369e7;
    padding: 16.5% 5%;
}
.custom-right-content h2 {
    color: #fff;
    margin-bottom: 30px;
}
.custom-right-padding {
    padding:0;
}
.custom-right-content .fa {
    color:#fff;
}
.custom-right-content p {
    font-weight: bold;
}
.custom-left-content {
    background: #000;
    padding: 5%;
    color:#fff;
}
.contact-content {
   background: rgb(245, 245, 245);
    padding: 5%;
}
.contact-content h1 {
    margin-bottom: 50px;
}
.map {
	
	background: #dfdfdf;
}

.map iframe {
	width: 100%;
	min-height: 400px;
	border: none;
}
/* .custom-map {
    margin-top:30px;
} */


/**************CLIEMTS CSS***************************/
.client-content {
    padding:5%;
}
.client-content h1 {
    margin-bottom: 50px;
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    /* width: 8px;
    height: 8px; */
}

.blog .carousel-indicators .active {
background: #707070;
}

.mediasliderimage{
   display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #333;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#0099e5;
}
.eckcon:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.mediasliderimage {
    background: none!important;
}

.custom-hr {
    width: 5%;
    border-width: 3px;
}
/********************upper footer csss******************/
.custom-upper-footer-social {
    margin-bottom: 30px;
}
.custom-upper-footer-section .custom-upper-footer-social ul li {
    border: solid thin #6195FF;
    background: #6195FF;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    margin: 0 12px;
    margin-top: 15px;
}
.custom-upper-footer-section {
    background: #1C1D21;
    padding: 5%;
    color: #fff;
}
.custom-upper-footer-section ul li 
{
    list-style: none;
    margin: 10px 0;
    margin-left: 0;
    position: relative;
    left: -36px;
}
.custom-upper-footer-section p {
    color: #868F9B;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
}
.custom-upper-footer-section h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 5px;
}

/***********************************client css**********************/
.eckcon {
    width: 213px;
    height: 80px;
}
.eckcon img {
    /* min-width: 100%;
    min-height: 100%; */
}