.custom-footer{
    background: #000;
    height: 50px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 18px;
    bottom:0;
    position: relative;
    width: 100%
}