.blog-content {
    background: url(../images/banner22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.8);
}
.blog-content h1 {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
}
.blog-images-valid {
    width: 230px;
    height: 139px;
    overflow: hidden;
}
.custom-blog-content h3 {
    margin-bottom: 30px;
}
.custom-blog-content p 
{
    color: #808080;
    font-size: 16px;
}
.sidebar-custom-blog-content p {
    color: #808080;
    font-size: 16px;
}
.blog-images-valid img {
    min-width: 100%;
    min-height: 100%;
}
.custom-parent-padd {
    padding: 0!important;
}
.custom-blog-content {
    margin-top: 50px;

}