.custom-dropdown-menu li {
    margin: 10px 0;
    padding-left: 15px;
}
.custom-dropdown-menu li a {
    color: #000;
}
.custom-upper-navbar li {
    margin: 0 20px;
}
/* .custom-edu-navbar {
    background: #0099e5!important;
} */
.navbar-collapse .custom-upper-navbar li a:focus {
    color: #fff!important;
}
/* .custom-edu-navbar{
    transition:500ms ease;
    background:transparent!important;

}
.custom-edu-navbar.scrolled{
    background:#000;
  }  */
/* .custom-edu-navbar.scrolled {

} */
.navbar-default{
    transition:500ms ease;
    background:transparent;
  }
  .navbar-default.scrolled{
    background:#000;
  }


  