.upper-career-content-custom h3 {
    margin: 50px 0;

}
/* .upper-career-content-custom {
    background: linear-gradient(to bottom, #ffffff 0%,#fbfafa 100%);
} */
.upper-career-content-custom p {
    color: #808080;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}
.custom-icon-border {
    border: solid thin #96D9F7;
    background: #96D9F7;
    border-radius: 50%;
    padding: 30%;
    color: #fff;
}
.custom-icon-border-hand {
    border: solid thin #96D9F7;
    background: #96D9F7;
    border-radius: 50%;
    padding: 26% 20%;
    color: #fff;

}
.custom-accordian a {font-weight: bold;}
.custom-accordian .card-header {
    background: none;
    padding: 2%;
    border: solid thin #e1e1e1;
    margin: 1% 0;
    font-size: 18px;
}
.custom-accordian .card {
    border: none;
}
.custom-row-margin {
    margin-top: 30px;
}
.below-career-content-cusotm h3 {
    margin-top: 50px;
}
.custom-card-body p{
color: #808080;
font-size: 15px;
}
.custom-card-body ul li {
    color: #808080;
    font-size: 15px;
    margin: 5px 0;
}
.custom-card-body h3 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0!important;
    color: #0080c4;
}
.custom-margin-list ul li {
    margin: 0 30px;
}
.middle-content-custom {
    background: linear-gradient(to bottom, #ffffff 0%,#fbfafa 100%);
}

.career-custom-form {
    padding: 5%;
}
.career-custom-form input {
    border-style: none;
    border-bottom: solid thin #e1e1e1;
    box-shadow: none;
    background: none;
    color: #888;
}
.career-custom-form input:focus {
    box-shadow: none;
    background: none;
}
.career-custom-form textarea {
    border-style: none;
    border-bottom: solid thin #e1e1e1;
    box-shadow: none;
    background: none;
}
.career-custom-form textarea:focus {
    box-shadow: none;
    background: none;
}
.career-custom-second-row {
    margin-top: 30px;
}